<!DOCTYPE html>
<%- include('./layout/layout.ejs')%>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="../public/stylesheet/login.css" rel="stylesheet">
</head>
<body>
  	<!-- breadcrumb-section -->
    <div class="breadcrumb-section " style="background-image: url(/public/images/appimages/IMG_6926\ \(2\)\ \(1\).JPG)">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
            <div class="breadcrumb-text">
              <p>Please check your mail</p>
              <h1>Enter OTP</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end breadcrumb section -->

  <div class="row  d-flex justify-content-center " style=" margin: 30px;">
    <div class="login-box  col-lg-4 " style="margin-top: 15vh; margin-bottom: 15vh;" >
    <h5 style="color: #fff;"></h5>
    <% if(typeof message!=='undefined')
    {%>
      <p style="color: red;"><%- message %></p>
    <%
    }
    %>
    <form action="/checkotp" method="post">
      <div class="user-box">
        <input type="text" name="otp" required="">
        <label>Enter OTP</label>
      </div>
      <input type="submit" class="btn btn-primary">
    </form>
  </div>
  </div>
</body>
</html>
<%- include('./layout/footer.ejs')%>



<!DOCTYPE html>
<%- include('./layout/layout.ejs')%>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <!-- breadcrumb-section -->
<div class="breadcrumb-section " style="background-image: url(/public/images/appimages/IMG_6926\ \(2\)\ \(1\).JPG)">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>With your email and password</p>
          <h1>Login</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->
<div class="row  d-flex justify-content-center " style=" margin: 30px;">
  <div class="login-box  col-lg-4 " style="margin-top: 15vh; margin-bottom: 15vh;" >
    <h2>Login</h2>
    <% if(typeof message!=='undefined')
    {%>
      <p style="color: red;"><%- message %></p>
    <%
    }
    %>
    <form action="/login" method="post">
      <div class="user-box">
        <input type="text" name="email" required="">
        <label>Email</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" required="">
        <label>Password</label>
      </div>
      <div class="d-flex justify-content-center">
      <a><input type="submit"  value="login" style=" width: 130px; height: 50px;">
        
      </a>
    </div>
    </form>
    <p style="color: #fff;"><a href="/otplogin">OTP login!</a></p>
    <p style="color: #fff;">Create account? <a href="/signup"> signup!</a></p>
    <p style="color: #fff;">Forgot password? <a href="/forget"> click here!</a></p>
 
    
  </div>

</div>


</body>
</html>

  <%- include('./layout/footer.ejs')%>

<!-- end of login -->
<!-- main -->

	<div class="main-w3layouts wrapper m-5" style="background-color: rgb(255, 136, 0) !important;">
		<h2 style="color: rgb(0, 0, 0); text-align: center;">SignUp Form</h2>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<% if(typeof messages!=='undefined'){
					%>
					<p style="color: rgb(255, 136, 0);"><%- messages %></p><br>
					<%
					}
					%>
				<form action="/signup" id="signup" method="post" enctype="multipart/form-data">
					<lebel id="nameError" class="error"></lebel>
					<input class="text" type="text" name="name" id="name" placeholder="Fullname">
					<lebel id="phoneError" class="error"></lebel>
					<input class="text" type="text" name="mobile" id="phone" placeholder="Mobile">
					<lebel id="emailError" class="error"></lebel>
					<input class="text " type="text" id="email"  name="email" placeholder="Email">
					<lebel id="passwordError" class="error"></lebel>
					<input class="text " id="password" type="password" name="password" placeholder="Password">
					<lebel id="confirmPasswordError" class="error"></lebel>
					<input class="text" id="confirmPassword" type="password" name="conformpassword" placeholder="Confirm Password">
          <input class="text" type="text" name="name" id="name" placeholder="Enter a reference link">
						<label style="color: #fff;font-weight: 300">Uplode Profile pic</label>
						<input class="text" type="file" name="image"><br>
					<input type="submit" value="SIGNUP">
				</form>
				<p>Don't have an Account? <a href="/login"> Login Now!</a></p>
			</div>
		</div>
	</div>
		<div class="">
  <p style="color:#fff ;font-weight: bold;">© 2023 <a style="color: gold;">Z</a>sonicx</p>
		</div>
<script>
		  const form = document.getElementById('signup');
    	  const nameInput = document.getElementById('name');
 		  const emailInput = document.getElementById('email');
  		  const phoneInput = document.getElementById('phone');
 		  const passwordInput = document.getElementById('password');
 		  const confirmPasswordInput = document.getElementById('confirmPassword');

		//   nameInput.addEventListener("mouseleave",function(){
		// 	if()
		//   })


  form.addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent form submission

    // Clear previous error messages
    clearErrors();

    // Validate name field
    if (nameInput.value.trim() === '') {
      showError('name', 'Name is required');
    }
	else if((nameInput.value.trim()).length<2){
		showError('name','Minimum 2 characters needed')
	}else if(!isValidName(nameInput.value.trim())){
		showError('name','Please enter alphabets')
	}

    // Validate email field
    if (emailInput.value.trim() === '') {
      showError('email', 'Email is required');
    } else if (!isValidEmail(emailInput.value.trim())) {
      showError('email', 'Invalid email format');
    }

    // Validate phone field
    if (phoneInput.value.trim() === '') {
      showError('phone', 'Phone number is required');
    }
	else if(((phoneInput.value.trim()).length<10)){
	  showError('phone','Phone number aleast 10 numbers')
	}
	else if(!isValidPhone(phoneInput.value.trim())){
		showError('phone','Please enter numbers')
	}

    // Validate password field
    if (passwordInput.value.trim() === '') {
      showError('password', 'Password is required');
    }else if((passwordInput.value.trim()).length<6){
		showError('password',"Poor password")
	}
	else if(!isWeekPassword(passwordInput.value.trim())){
		showError('password','Week password')
	}

    // Validate confirm password field
    if (confirmPasswordInput.value.trim() === '') {
      showError('confirmPassword', 'Confirm Password is required');
    } else if (confirmPasswordInput.value !== passwordInput.value) {
      showError('confirmPassword', 'Passwords do not match');
    }

    // Submit the form if there are no errors
    if (isFormValid()) {
      form.submit();
    }
  });

  function showError(inputId, errorMessage) {
    const errorElement = document.getElementById(`${inputId}Error`);
    errorElement.textContent = errorMessage;
  }

  function clearErrors() {
    const errorElements = document.getElementsByClassName('error');
    Array.from(errorElements).forEach(function(errorElement) {
      errorElement.textContent = '';
    });
  }
  function isWeekPassword(password) {
  // Regular expression for password validation (case-insensitive)
  const passwordRegex = /^(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]+$/i;
  return passwordRegex.test(password);
}

  function isValidName(name) {
    // Regular expression for name validation
    const nameRegex = /^[a-zA-Z]+$/;
    return nameRegex.test(name);
  }
  function isValidPhone(phone) {
    // Regular expression for number validation
    const phoneRegex = /^[0-9]+$/;
    return phoneRegex.test(phone);
  }

  function isValidEmail(email) {
    // Regular expression for email validation
    const emailRegex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
    return emailRegex.test(email);
  }

  function isFormValid() {
    const errorElements = document.getElementsByClassName('error');
    let isValid = true;
    Array.from(errorElements).forEach(function(errorElement) {
      if (errorElement.textContent !== '') {
        isValid = false;
      }
    });
    return isValid;
  }

	
</script>